---
const { title } = Astro.props
---

<section id="about" class="flex flex-col gap-5 scroll-mt-20 select-none">
  <h3 class="sticky top-0 pt-5 pb-3 bg-background/50 backdrop-blur-sm lg:static lg:p-0 lg:bg-transparent lg:backdrop-blur-0 font-bold lg:mb-3 text-accent">{ title }</h3>
  <p>
    Mi nombre es Javi, y me dedico al Desarrollo Web profesional desde hace 2
    años.
  </p>
  <p>
    Desde mi perfil como Full Stack he desarrollado proyectos personales y
    colaborativos, en marcos de trabajo como <a href="https://openwebinars.net/blog/mern-stack-que-es-y-que-ventajas-ofrece/" rel="noreferrer" target="_blank">MERN</a> (<a href="https://www.mongodb.com/es" rel="noreferrer" target="_blank">MongoDB</a> + <a href="https://expressjs.com/" rel="noreferrer" target="_blank">Express.js</a> + <a href="https://es.react.dev/" rel="noreferrer" target="_blank">React</a>
    + <a href="https://nodejs.org/en" rel="noreferrer" target="_blank">Node.js</a>) o <a href="https://angular.dev/" rel="noreferrer" target="_blank">Angular</a> + <a href="https://firebase.google.com/?hl=es-419" rel="noreferrer" target="_blank">Firebase</a>.
  </p>

  <p>
    Me gusta dedicar parte de mi tiempo libre para seguir formándome en nuevas
    tecnologías que entran a competir en el mercado, y así estar preparado para
    nuevos retos. Esto me ha permitido manejarme con otros lenguajes como <a href="https://www.java.com/es/" rel="noreferrer" target="_blank">Java</a>,
    frameworks como <a href="https://astro.build/" rel="noreferrer" target="_blank">Astro</a>, librerías de estilización como <a href="https://tailwindcss.com/" rel="noreferrer" target="_blank">Tailwind</a>, <a href="https://getbootstrap.com/" rel="noreferrer" target="_blank">Bootstrap</a> o
    <a href="https://sass-lang.com/" rel="noreferrer" target="_blank">Sass</a>, librerías de componentes como <a href="https://mui.com/" rel="noreferrer" target="_blank">Material UI</a> o <a href="https://material.angular.io/" rel="noreferrer" target="_blank">Angular Material</a>, y tener
    diferentes maneras de manejar los datos con SQL o interactuar con los mismos
    mediante <a href="https://graphql.org/" rel="noreferrer" target="_blank">GraphQL</a>.
  </p>

  <p>
    Soy una persona proactiva, autodidacta, resolutiva y disponible para ayudar
    a los compañeros en aquello que esté a mi alcance. Creo firmemente que el
    esfuerzo y la capacidad de resiliencia son claves para crecer como
    profesional y aportar en un equipo.
  </p>
  <p>
    A parte de la programación también disfruto mucho del deporte, la música y
    la comida (especialmente de la repostería).
  </p>
</section>

<style>
    p {
        @apply text-neutral-400
    }

    a {
        @apply text-text hover:text-accent
    }
</style>
