<div id="main-presentation__links" class="hidden mt-10 lg:flex flex-col gap-6 
         [&>a]:w-fit [&>a]:font-semibold [&>a]:uppercase hover:[&>a]:text-accent [&>a]:duration-75">
              <a href="#about" class="[&_svg]:hover:inline-flex">
                <span class="flex font-normal text-neutral-400">01.</span>
                <span class="inline-flex gap-2">Sobre Mí 
                <svg class="hidden" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 16 16">
                  <path fill="currentColor" fill-rule="evenodd" d="M4.22 11.78a.75.75 0 0 1 0-1.06L9.44 5.5H5.75a.75.75 0 0 1 0-1.5h5.5a.75.75 0 0 1 .75.75v5.5a.75.75 0 0 1-1.5 0V6.56l-5.22 5.22a.75.75 0 0 1-1.06 0" clip-rule="evenodd"/>
                </svg></span>
              </a>
              <a href="#experience" class="[&_svg]:hover:inline-flex"><span class="flex font-normal text-neutral-400">02.</span>
                <span class="inline-flex gap-2">
                  Experiencia
                  <svg class="hidden" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 16 16">
                    <path fill="currentColor" fill-rule="evenodd" d="M4.22 11.78a.75.75 0 0 1 0-1.06L9.44 5.5H5.75a.75.75 0 0 1 0-1.5h5.5a.75.75 0 0 1 .75.75v5.5a.75.75 0 0 1-1.5 0V6.56l-5.22 5.22a.75.75 0 0 1-1.06 0" clip-rule="evenodd"/>
                  </svg>
                </span>
              </a>
              <a href="#projects" class="[&_svg]:hover:inline-flex">
                <span class="flex font-normal text-neutral-400">03.</span>
                <span class="inline-flex gap-2">
                  Proyectos
                  <svg class="hidden" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 16 16">
                    <path fill="currentColor" fill-rule="evenodd" d="M4.22 11.78a.75.75 0 0 1 0-1.06L9.44 5.5H5.75a.75.75 0 0 1 0-1.5h5.5a.75.75 0 0 1 .75.75v5.5a.75.75 0 0 1-1.5 0V6.56l-5.22 5.22a.75.75 0 0 1-1.06 0" clip-rule="evenodd"/>
                  </svg>
                </span>
              </a>
              <a href="#hiring" class="[&_svg]:hover:inline-flex">
                <span class="flex font-normal text-neutral-400">04.</span>
                <span class="inline-flex gap-2">
                  Contacto 
                  <svg class="hidden" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 16 16">
                    <path fill="currentColor" fill-rule="evenodd" d="M4.22 11.78a.75.75 0 0 1 0-1.06L9.44 5.5H5.75a.75.75 0 0 1 0-1.5h5.5a.75.75 0 0 1 .75.75v5.5a.75.75 0 0 1-1.5 0V6.56l-5.22 5.22a.75.75 0 0 1-1.06 0" clip-rule="evenodd"/>
                  </svg>
                </span>
              </a>
          </div>