---
import "@fontsource-variable/inter";
import "../styles/global.css";
import AboutMe from "../components/AboutMe.astro";
import Experience from "../components/Experience.astro";
import Projects from "../components/Projects.astro";
import Contact from "../components/Contact.astro";
import Footer from "../components/Footer.astro";
import Nav from "../components/Nav.astro";
import LightThemeIcon from "../components/icons/LightThemeIcon.astro";
import DarkThemeIcon from "../components/icons/DarkThemeIcon.astro";
import DropdownIcon from "../components/icons/DropdownIcon.astro";
import MainLinks from "../components/MainLinks.astro";
---

<!doctype html>
<html lang="en" class="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./styles/global.css" />
    <title>javier/hidalgo</title>
  </head>
  <body class="relative lg:flex-row mx-auto bg-background text-text font-inter">
    <button
      id="themeToggleBtn"
      class="fixed w-fit h-fit p-1 top-8 right-8 text-text bg-accent hover:bg-accent rounded-full duration-100 z-[100]"
    >
      <LightThemeIcon />
      <DarkThemeIcon />
    </button>
    <div
      class="w-[90%] max-w-[1200px] min-h-screen mx-auto lg:flex lg:justify-between gap-4 z-30"
    >
      <div
        id="left"
        class="max-h-screen lg:sticky lg:top-0 lg:basis-1/2 py-20 flex flex-col justify-between text-text select-none"
      >
        <div id="main-presentation" class="flex flex-col gap-4">
          <h1 class="flex items-center text-5xl font-bold">
            javier/
            <span class="text-neutral-400">hidalgo</span>
            <!-- <div class="relative">
              <button class="text-sm"><DropdownIcon /></button>
              <ol
                id="drowpdown-menu"
                class="close absolute lg:hidden w-max top-full text-sm text-neutral-400 bg-neutral-100 rounded-md [&>li]:w-full [&>li]:p-2 [&>:not(:last-child)]:border-b [&>:not(:last-child)]:border-neutral-400 hover:[&>li]:bg-neutral-200 hover:[&>li]:text-accent overflow-hidden"
              >
                <li><a href="#">/sobre_mi</a></li>
                <li><a href="#">/experiencia</a></li>
                <li><a href="#">/proyectos</a></li>
                <li><a href="#">/contanto</a></li>
              </ol>
            </div> -->
          </h1>
          <div>
            <h3 class="text-xl">Full Stack Developer</h3>
            <p class="text-neutral-400">Madrid, España</p>
          </div>

          <Nav />
        </div>
        <MainLinks />
      </div>
      <div
        id="right"
        class="min-h-screen lg:basis-1/2 lg:py-20 flex flex-col gap-10 lg:gap-24 text-text text-balance"
      >
        <AboutMe title="SOBRE MÍ" />
        <Experience title="EXPERIENCIA" />
        <Projects title="PROYECTOS" />
        <Contact title="¡TRABAJEMOS JUNTOS!" />
        <Footer />
      </div>
    </div>
  </body>
</html>

<style>
  html {
    scroll-behavior: smooth;
  }
</style>

<script>
  const themeToggleBtn = document.querySelector("#themeToggleBtn");

  themeToggleBtn?.addEventListener("click", () => {
    const htmlDocument = document.querySelector("html");

    htmlDocument &&
      (htmlDocument.classList.contains("dark")
        ? htmlDocument.classList.remove("dark")
        : htmlDocument.classList.add("dark"));
  });

  const dropdownMenu = document.querySelector("#dropdown-menu");

  (dropdownMenu && dropdownMenu.classList.contains("close"))
    ? (dropdownMenu.classList.remove("close"),
      dropdownMenu.classList.add("open"),
      dropdownMenu.classList.remove("hidden"))
    : (dropdownMenu!.classList.remove("close"),
      dropdownMenu!.classList.add("open"),
      dropdownMenu!.classList.remove("hidden"));
</script>
